build/
target/
.project
.classpath
.idea
*.iml
.settings
.gradle
*.ipr
*.iws
out/
*.swp
bin/
.cache-*
.metadata/
.recommenders/
.dist-buildwrapper/
dist/
.gitignore~
.worksheet/
Worksheet.*
.stack-work/
*.zip
*.csv
*.dat
*.png
**/project/*.scala
